apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
- github.com/argoproj/argo-cd/manifests/cluster-install?ref=v3.3.0
- resources/namespace.yaml

patches:
- path: patches/argocd-dex-server.yaml
- path: patches/argocd-notifications-controller.yaml
